<svg id="{{task_name}}" xmlns="http://www.w3.org/2000/svg" x="{{x}}" y="{{y}}" width="{{width}}" height="{{height}}">
    {%set cx = x + width / 2%}
    {%set cy = y + height / 2%}
    <circle cx="{{cx}}" cy="{{cx}}" r="{{radius}}" stroke="{{stroke_color}}" stroke-width="{{stroke}}"
        fill="{{color}}" />
</svg>